
.yyj-mobile:before { content: '\e800'; } /* '' */
.yyj-noun_723565_cc:before { content: '\e803'; } /* '' */
.yyj-spin4:before { content: '\e834'; } /* '' */
.yyj-facebook:before { content: '\f09a'; } /* '' */
.yyj-mail-alt:before { content: '\f0e0'; } /* '' */